.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.Labcontrol/package-lock.json
.Labcontrol/package.json

src/firebase-controller.js 
src/emailAPI.js

cert/

*.part

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
